
  
p {
    line-height: 1.6;
}
  
ul {
    margin-top: 20px;
}
  
li {
    margin: 5px 0;
}
  
a {
    display: inline-block;
}

.detailsContainer {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.detailsItem {
    display: flex;
    flex-wrap: wrap;
}

.poster {
    padding: 20px 50px;
    width: 250px;
    height: 350px;
    margin-bottom: 40px;
    object-fit: cover;
    border-radius: 8px;
}

.detailsText {
    max-width: 500px;
    text-align: justify;
}

.detailsLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #2e859e;
    font-size: 18px;
    padding: 20px;
}
    
.detailsLink:hover,
.detailsLink:focus {
    color: #f8f8f8;
}

.btnBack {
    border-radius: 5px;
    position: absolute;
    top: 90px;
    right: 165px;
    margin-left: -10px;
}

.titleDetailPage {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
