h1 {
    margin: 20px 0 40px 0;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}
  
ul {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}
  
li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
  
li:last-child {
    border-bottom: none;
}

button {
    border-radius: 5px;
    position: absolute;
    top: 90px;
    right: 165px;

}
  